# 줄바꿈 정규화: 저장소와 작업 트리 모두 LF (coding-conventions ".editorconfig" 표: LF, UTF-8)
* text=auto eol=lf

# 바이너리
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.pdf binary
*.zip binary
*.7z binary
*.gz binary
*.tar binary
*.dll binary
*.exe binary
*.pdb binary
*.nupkg binary
*.snupkg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pfx binary
*.snk binary
